@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621048415714') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e50d";
}

.icon-icon-test:before {
  content: "\e65e";
}

.icon-gitee-fill-round:before {
  content: "\e502";
}

